<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-10" title="{{ content.level }}">
      <li>
        {% for item in content.items %}
          <ul>{{ item }}</ul>
        {% endfor %}
      </li>
    </div>
  {% endfor %}
</div>
